<a href="https://colab.research.google.com/github/AayushPaigwar/CodeClause-Churn_Prediction/blob/master/Copy_of_pract_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pandas.core.indexes.extension import Index
import pandas as pd
import numpy as np

df = pd.DataFrame({'Roll.No': [12, 18, 12,10],
                   'Sem2': [1,3,2,5]},
                   index = ['Aayush','Amitesh','Arnav','Aditya'])
print(df)

         Roll.No  Sem2
Aayush        12     1
Amitesh       18     3
Arnav         12     2
Aditya        10     5



 **1.Min-Max Scalar**

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df1= pd.DataFrame(scaler.fit_transform(df),
                  columns=['Roll.No','Sem2'],
                  index=['Aayush','Amitesh','Arnav','Aditya']) 
df1

         Roll.No  Sem2
Aayush      0.25  0.00
Amitesh     1.00  0.50
Arnav       0.25  0.25
Aditya      0.00  1.00

**2. standard Scaler**

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df2=pd.DataFrame(scaler.fit_transform(df),
columns =['Roll.No','Sem2'],
index=['Aayush','Amitesh','Arnav','Aditya'])
df2

          Roll.No      Sem2
Aayush  -0.333333 -1.183216
Amitesh  1.666667  0.169031
Arnav   -0.333333 -0.507093
Aditya  -1.000000  1.521278

**3.Max Abs Scaler bold text**

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
scaler= MaxAbsScaler()
df3= pd.DataFrame(scaler.fit_transform(df),
                  columns=['Roll.No','Sem2'],
                  index=['Aayush','Amitesh','Arnav','Aditya'])
df3

          Roll.No  Sem2
Aayush   0.666667   0.2
Amitesh  1.000000   0.6
Arnav    0.666667   0.4
Aditya   0.555556   1.0

**4. Robust scaler**

In [ ]:
from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
df4=pd.DataFrame(scaler.fit_transform(df),
columns= ['Roll.No','Sem2'],
index=['Aayush','Amiteh','Arnav','Aditya'])
df4

        Roll.No      Sem2
Aayush      0.0 -0.857143
Amiteh      3.0  0.285714
Arnav       0.0 -0.285714
Aditya     -1.0  1.428571

**5. Quantile tramsformer Scaler**

In [ ]:
from sklearn.preprocessing import QuantileTransformer
scaler= QuantileTransformer()
df5=pd.DataFrame(scaler.fit_transform(df),
columns= ['Roll.No','Sem2'],
index=['Aayush','Amiteh','Arnav','Aditya'])
df5

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:2593: UserWarning: n_quantiles (1000) is greater than the total number of samples (4). n_quantiles is set to n_samples.
  "n_samples." % (self.n_quantiles, n_samples)

        Roll.No      Sem2
Aayush      0.5  0.000000
Amiteh      1.0  0.666667
Arnav       0.5  0.333333
Aditya      0.0  1.000000